<title>Login</title>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-7 col-12">
      <div class="card">
        <h5 class="card-header">Login <small>or <span navigate-to='/register'
              class="text-primary">register</span></small></h5>
        <small class="text-danger" id="errorMessageLabel"></small>
        <div class="card-body">
          <form ev-submit='events.submitLoginForm' id='loginForm'>
            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <small class="text-danger" id="errorMessage"></small>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>